asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
defusedxml==0.7.1
dj-database-url==2.1.0
Django==4.2.4
django-bootstrap-icons==0.8.7
django-bootstrap5==23.3
django-crispy-forms==2.0
gunicorn==21.2.0
idna==3.6
packaging==23.2
psycopg2-binary==2.9.9
requests==2.31.0
sqlparse==0.4.4
typing-extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
whitenoise==6.6.0
